---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: thelounge
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: democratic-csi
      namespace: democratic-csi
  interval: 1h
  path: ./kubernetes/apps/default/thelounge/app
  postBuild:
    substitute:
      APP: thelounge
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
