---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nzbget
spec:
  components:
    - ../../../../components/keda
    - ../../../../components/volsync
  dependsOn:
    - name: democratic-csi
      namespace: democratic-csi
  interval: 1h
  path: ./kubernetes/apps/media/nzbget/app
  postBuild:
    substitute:
      APP: nzbget
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
