{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "{{ .KOPIA_REPOSITORY }}",
      "endpoint": "{{ .CLOUDFLARE_ACCOUNT_ID }}.r2.cloudflarestorage.com"
    }
  },
  "hostname": "volsync.volsync-system.svc.cluster.local",
  "username": "volsync",
  "description": "volsync",
  "enableActions": false
}
